<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true
>
  <testsuites>
    <testsuite name="SCMS Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="TEST_DB_HOST" value="127.0.0.1"/>
    <env name="TEST_DB_USER" value="root"/>
    <env name="TEST_DB_PASS" value=""/>
    <env name="TEST_DB_NAME" value="scms_test"/>
  </php>
</phpunit>
